.topbar-profile-photo{
    width: 1.5em;
    height: 1.5em;
    position: relative;
}
.link-menu{
    color:black;

}
.story-profile-photo{
    width: 60px;
    height: 60px;
    position: relative;
    border-width: 3px !important;
}
.post-profile-photo {
    width: 40px; 
    height: 40px; 
    position: relative; 
    border-width: 2px !important;
}
.post-name{
    color:black;
    font-size: 14px;
    font-weight: 600;
    width: auto;
    font-family: Helvetica,Arial,sans-serif;
    cursor: pointer;
    text-overflow: ellipsis;
    text-align: center;
}
.bi-chat{
    transform: scaleX(-1);
}
span b{
    font-weight:bold;
}
.btn-ig{
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    color: #0095f6;
    font-weight: 600;

}
.btn-ig:hover,
.btn-ig:focus{
    background-color: transparent !important;
    color: #0095f6 !important;
}
.time_stamp{
    text-transform: uppercase;
    font-size: 10px;
}
.comment-box{
    border-top: 1px solid lightgray;
}